{% extends "GajdawAngazeBundle::layout.html.twig" %}

{% block contents %}
    <h1>Department creation</h1>

    <form action="{{ path('department_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('department') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
