{% extends '::base.html.twig' %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('employee') }}">Employee</a>
        </li>
    </ul>


    {% block contents %}
    {% endblock %}

{% endblock %}
